* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

.box_1 {
    margin: 10px auto;
    text-align: center;
    background-color: coral;
    font-family: "Times New Roman", "Helvetica Neue", Helvetica, sans-serif;
    width: 260px;
    height: 300px;
    padding: 10px;
}
.box_2 {
    margin: 10px auto;
    text-align: center;
    background-color: coral;
    font-family: "Times New Roman", "Helvetica Neue", Helvetica, sans-serif;
    width: 260px;
    padding: 10px;
}


#log {
    width: 200px;
    height: 240px;
    word-wrap: break-word;
}
#object_name {
    width: 200px;
}

#one_operation_btn {
    cursor: pointer;
    width: 200px;
    text-transform: uppercase;
}
